@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111827;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* button:hover {
  border-color: #646cff;
} */

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.bars-loading {
  width: 32px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#ffffff30 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: bars-loading 1s infinite linear;
}
.text-gradient-primary {
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-secondary {
  background: radial-gradient(
      60% 130% at 80% -20%,
      #df6f13 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(100deg, #00c6ff 0%, #7d2ae8 50%, #ff4ecd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-firt {
  background: radial-gradient(
      60% 130% at 80% -20%,
      #df6f13 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(100deg, #3032c2 0%, #720f54 50%, #ff4ecd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes bars-loading {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }

  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }

  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }

  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }

  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}